In [1]:
val x = 2
val y = 3
x+y

Intitializing Scala interpreter ...

Spark Web UI available at http://localhost:4041
SparkContext available as 'sc' (version = 2.4.3, master = local[*], app id = local-1567441136559)
SparkSession available as 'spark'

x: Int = 2
y: Int = 3
res0: Int = 5

In [2]:
sc

res1: org.apache.spark.SparkContext = org.apache.spark.SparkContext@7a165ee3

In [3]:
val data = Seq((1,2,3), (4,5,6), (6,7,8), (9,19,10))
val ds = spark.createDataset(data)
ds.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
|  1|  2|  3|
|  4|  5|  6|
|  6|  7|  8|
|  9| 19| 10|
+---+---+---+

data: Seq[(Int, Int, Int)] = List((1,2,3), (4,5,6), (6,7,8), (9,19,10))
ds: org.apache.spark.sql.Dataset[(Int, Int, Int)] = [_1: int, _2: int ... 1 more field]

In [4]:
val path = "../../Desktop/bbcsports/bbc_sports_articles"

path: String = ../../Desktop/bbcsports/bbc_sports_articles

In [5]:
val inputData = sc.wholeTextFiles(path)

inputData: org.apache.spark.rdd.RDD[(String, String)] = ../../Desktop/bbcsports/bbc_sports_articles MapPartitionsRDD[1] at wholeTextFiles at <console>:27

In [7]:
inputData.take(2)

res4: Array[(String, String)] =
Array((file:/Users/aviralsharma/Desktop/bbcsports/bbc_sports_articles/289.txt,"Wilkinson targets Ireland

Jonny Wilkinson says he is "massively positive" about his chances of playing some part in the Six Nations.

A knee injury has ruled him out of England's first two matches against Wales and France, but he is hoping to feature against Ireland on 27 February. "I'm coming on really well. The physios at England and Newcastle are as happy as they could possibly be at this point." said the England fly-half. Wilkinson has not played for England since their 2003 World Cup final win. "The injury is to my left leg so, as a kicker, I need to make sure I'm really right so I can play my usual game."

"All I can do is try to get back. It (the knee injury) happened t...

In [9]:
val df = spark.createDataFrame(inputData)

df: org.apache.spark.sql.DataFrame = [_1: string, _2: string]

In [10]:
df.show()

+--------------------+--------------------+
|                  _1|                  _2|
+--------------------+--------------------+
|file:/Users/avira...|Wilkinson targets...|
|file:/Users/avira...|England 17-18 Fra...|
|file:/Users/avira...|Moody joins up wi...|
|file:/Users/avira...|McIlroy wins 800m...|
|file:/Users/avira...|Pavey focuses on ...|
|file:/Users/avira...|Greek pair set fo...|
|file:/Users/avira...|Richardson ends j...|
|file:/Users/avira...|Freeman considers...|
|file:/Users/avira...|Sri Lanka squad s...|
|file:/Users/avira...|Davenport dismant...|
|file:/Users/avira...|Scotland v Italy ...|
|file:/Users/avira...|Dallaglio his own...|
|file:/Users/avira...|Capriati to miss ...|
|file:/Users/avira...|Rusedski forced o...|
|file:/Users/avira...|Martinez sees off...|
|file:/Users/avira...|Woodward eyes Bre...|
|file:/Users/avira...|Angry Williams re...|
|file:/Users/avira...|Federer forced to...|
|file:/Users/avira...|Sculthorpe wants ...|
|file:/Users/avira...|Sri Lanka resched...|
+--------------------+--------------------+
only showing top 20 rows

In [11]:
//creating data set from an RDD
val ds = spark.createDataset(inputData)

ds: org.apache.spark.sql.Dataset[(String, String)] = [_1: string, _2: string]

In [12]:
ds.show()

+--------------------+--------------------+
|                  _1|                  _2|
+--------------------+--------------------+
|file:/Users/avira...|Wilkinson targets...|
|file:/Users/avira...|England 17-18 Fra...|
|file:/Users/avira...|Moody joins up wi...|
|file:/Users/avira...|McIlroy wins 800m...|
|file:/Users/avira...|Pavey focuses on ...|
|file:/Users/avira...|Greek pair set fo...|
|file:/Users/avira...|Richardson ends j...|
|file:/Users/avira...|Freeman considers...|
|file:/Users/avira...|Sri Lanka squad s...|
|file:/Users/avira...|Davenport dismant...|
|file:/Users/avira...|Scotland v Italy ...|
|file:/Users/avira...|Dallaglio his own...|
|file:/Users/avira...|Capriati to miss ...|
|file:/Users/avira...|Rusedski forced o...|
|file:/Users/avira...|Martinez sees off...|
|file:/Users/avira...|Woodward eyes Bre...|
|file:/Users/avira...|Angry Williams re...|
|file:/Users/avira...|Federer forced to...|
|file:/Users/avira...|Sculthorpe wants ...|
|file:/Users/avira...|Sri Lanka resched...|
+--------------------+--------------------+
only showing top 20 rows

In [18]:
val trial = ds.map(x => (x._2.split(" "), x._1.replace("file:/Users/aviralsharma/Desktop/bbcsports/bbc_sports_articles/", "")))

trial: org.apache.spark.sql.Dataset[(Array[String], String)] = [_1: array<string>, _2: string]

In [25]:
trial.show()

+--------------------+-------+
|                  _1|     _2|
+--------------------+-------+
|[Wilkinson, targe...|289.txt|
|[England, 17-18, ...|262.txt|
|[Moody, joins, up...|276.txt|
|[McIlroy, wins, 8...|060.txt|
|[Pavey, focuses, ...|074.txt|
|[Greek, pair, set...|048.txt|
|[Richardson, ends...|114.txt|
|[Freeman, conside...|100.txt|
|[Sri, Lanka, squa...|128.txt|
|[Davenport, disma...|470.txt|
|[Scotland, v, Ita...|316.txt|
|[Dallaglio, his, ...|302.txt|
|[Capriati, to, mi...|464.txt|
|[Rusedski, forced...|458.txt|
|[Martinez, sees, ...|459.txt|
|[Woodward, eyes, ...|303.txt|
|[Angry, Williams,...|465.txt|
|[Federer, forced,...|471.txt|
|[Sculthorpe, want...|317.txt|
|[Sri, Lanka, resc...|129.txt|
+--------------------+-------+
only showing top 20 rows

In [22]:
import pandas

<console>:  error: incomplete input

In [29]:
val trial2 = trial.map(x => (x._1, x._2, x._1.size))

trial2: org.apache.spark.sql.Dataset[(Array[String], String, Int)] = [_1: array<string>, _2: string ... 1 more field]

In [30]:
trial2.show()

+--------------------+-------+---+
|                  _1|     _2| _3|
+--------------------+-------+---+
|[Wilkinson, targe...|289.txt|249|
|[England, 17-18, ...|262.txt|665|
|[Moody, joins, up...|276.txt|455|
|[McIlroy, wins, 8...|060.txt|374|
|[Pavey, focuses, ...|074.txt|129|
|[Greek, pair, set...|048.txt|418|
|[Richardson, ends...|114.txt|339|
|[Freeman, conside...|100.txt|241|
|[Sri, Lanka, squa...|128.txt|301|
|[Davenport, disma...|470.txt|486|
|[Scotland, v, Ita...|316.txt|413|
|[Dallaglio, his, ...|302.txt|736|
|[Capriati, to, mi...|464.txt|127|
|[Rusedski, forced...|458.txt|128|
|[Martinez, sees, ...|459.txt|163|
|[Woodward, eyes, ...|303.txt|219|
|[Angry, Williams,...|465.txt|286|
|[Federer, forced,...|471.txt|188|
|[Sculthorpe, want...|317.txt|427|
|[Sri, Lanka, resc...|129.txt|434|
+--------------------+-------+---+
only showing top 20 rows

In [47]:
def segregrate(words:Array[String], doc:String, totalWords:Int) :scala.collection.mutable.ListBuffer[(String, String, Int)] = {
    val listTemp = scala.collection.mutable.ListBuffer.empty[(String, String, Int)]
    for (word <- words){
        //if (word,doc) not in listTemp:
        listTemp += ((word, doc, totalWords))
    }
    return listTemp
}

segregrate: (words: Array[String], doc: String, totalWords: Int)scala.collection.mutable.ListBuffer[(String, String, Int)]

In [39]:
val d = scala.collection.mutable.ListBuffer(("hi", "bi", 9), ("hi", "bi", 10))

d: scala.collection.mutable.ListBuffer[(String, String, Int)] = ListBuffer((hi,bi,9), (hi,bi,10))

In [41]:
d += (("hi", "bi", 11))

res12: d.type = ListBuffer((hi,bi,9), (hi,bi,10), (hi,bi,11))

In [44]:
d.getClass()

res13: Class[_ <: scala.collection.mutable.ListBuffer[(String, String, Int)]] = class scala.collection.mutable.ListBuffer

In [48]:
val trial3 = trial2.flatMap(x => segregrate(x._1, x._2, x._3))

trial3: org.apache.spark.sql.Dataset[(String, String, Int)] = [_1: string, _2: string ... 1 more field]

In [49]:
trial3.show()

+--------------+-------+---+
|            _1|     _2| _3|
+--------------+-------+---+
|     Wilkinson|289.txt|249|
|       targets|289.txt|249|
|Ireland

Jonny|289.txt|249|
|     Wilkinson|289.txt|249|
|          says|289.txt|249|
|            he|289.txt|249|
|            is|289.txt|249|
|    "massively|289.txt|249|
|     positive"|289.txt|249|
|         about|289.txt|249|
|           his|289.txt|249|
|       chances|289.txt|249|
|            of|289.txt|249|
|       playing|289.txt|249|
|          some|289.txt|249|
|          part|289.txt|249|
|            in|289.txt|249|
|           the|289.txt|249|
|           Six|289.txt|249|
|   Nations.

A|289.txt|249|
+--------------+-------+---+
only showing top 20 rows

In [50]:
val trial4 = trial3.map(x => ((x._1, x._2, x._3), 1))

trial4: org.apache.spark.sql.Dataset[((String, String, Int), Int)] = [_1: struct<_1: string, _2: string ... 1 more field>, _2: int]

In [51]:
trial4.show()

+--------------------+---+
|                  _1| _2|
+--------------------+---+
|[Wilkinson, 289.t...|  1|
|[targets, 289.txt...|  1|
|[Ireland

Jonny, ...|  1|
|[Wilkinson, 289.t...|  1|
|[says, 289.txt, 249]|  1|
|  [he, 289.txt, 249]|  1|
|  [is, 289.txt, 249]|  1|
|["massively, 289....|  1|
|[positive", 289.t...|  1|
|[about, 289.txt, ...|  1|
| [his, 289.txt, 249]|  1|
|[chances, 289.txt...|  1|
|  [of, 289.txt, 249]|  1|
|[playing, 289.txt...|  1|
|[some, 289.txt, 249]|  1|
|[part, 289.txt, 249]|  1|
|  [in, 289.txt, 249]|  1|
| [the, 289.txt, 249]|  1|
| [Six, 289.txt, 249]|  1|
|[Nations.

A, 289...|  1|
+--------------------+---+
only showing top 20 rows

In [72]:
val trial5 = trial4.groupBy('_1).agg(sum('_2) as "_2")

trial5: org.apache.spark.sql.DataFrame = [_1: struct<_1: string, _2: string ... 1 more field>, _2: bigint]

In [81]:
trial5.show()

+--------------------+---+
|                  _1| _2|
+--------------------+---+
|[seeing, 262.txt,...|  1|
|   [F, 262.txt, 665]|  2|
|[after, 276.txt, ...|  1|
|  [up, 060.txt, 374]|  1|
|[unless, 048.txt,...|  1|
|[later, 048.txt, ...|  1|
|[average, 114.txt...|  1|
|[has,, 100.txt, 241]|  1|
|[after, 470.txt, ...|  3|
|[Johnson,, 302.tx...|  1|
|[that, 459.txt, 163]|  1|
|["I've, 303.txt, ...|  1|
|[switch, 317.txt,...|  1|
|[understand, 317....|  1|
|[capability, 115....|  1|
|[never,, 049.txt,...|  1|
|[trial, 049.txt, ...|  1|
|[men's, 075.txt, ...|  4|
| [aim, 061.txt, 653]|  1|
|[against, 249.txt...|  2|
+--------------------+---+
only showing top 20 rows

In [79]:
val rdd = trial5.DataSet

<console>: 26: error: value DataSet is not a member of org.apache.spark.sql.DataFrame

In [76]:
rdd.collect()

res21: Array[org.apache.spark.sql.Row] =
Array([[seeing,262.txt,665],1], [[F,262.txt,665],2], [[after,276.txt,455],1], [[up,060.txt,374],1], [[unless,048.txt,418],1], [[later,048.txt,418],1], [[average,114.txt,339],1], [[has,,100.txt,241],1], [[after,470.txt,486],3], [[Johnson,,302.txt,736],1], [[that,459.txt,163],1], [["I've,303.txt,219],1], [[switch,317.txt,427],1], [[understand,317.txt,427],1], [[capability,115.txt,527],1], [[never,,049.txt,453],1], [[trial,049.txt,453],1], [[men's,075.txt,496],4], [[aim,061.txt,653],1], [[against,249.txt,464],2], [[August,,088.txt,454],1], [[this,063.txt,274],1], [[wickets,103.txt,361],1], [[despite,103.txt,361],1], [[South,103.txt,361],1], [[Paul,117.txt,327],1], [[2003,,117.txt,327],1], [[won,117.txt,327],1], [[else,117.txt,327],1], [[out,301.txt,...

In [83]:
val trial6 = trial5.as[((String, String, Int), BigInt)]

trial6: org.apache.spark.sql.Dataset[((String, String, Int), BigInt)] = [_1: struct<_1: string, _2: string ... 1 more field>, _2: bigint]

In [84]:
trial6.show()

+--------------------+---+
|                  _1| _2|
+--------------------+---+
|[seeing, 262.txt,...|  1|
|   [F, 262.txt, 665]|  2|
|[after, 276.txt, ...|  1|
|  [up, 060.txt, 374]|  1|
|[unless, 048.txt,...|  1|
|[later, 048.txt, ...|  1|
|[average, 114.txt...|  1|
|[has,, 100.txt, 241]|  1|
|[after, 470.txt, ...|  3|
|[Johnson,, 302.tx...|  1|
|[that, 459.txt, 163]|  1|
|["I've, 303.txt, ...|  1|
|[switch, 317.txt,...|  1|
|[understand, 317....|  1|
|[capability, 115....|  1|
|[never,, 049.txt,...|  1|
|[trial, 049.txt, ...|  1|
|[men's, 075.txt, ...|  4|
| [aim, 061.txt, 653]|  1|
|[against, 249.txt...|  2|
+--------------------+---+
only showing top 20 rows

In [88]:
val trial7 = trial6.map(x => ((x._1._1, x._1._2), (x._2.toDouble / x._1._3.toDouble) ))

trial7: org.apache.spark.sql.Dataset[((String, String), Double)] = [_1: struct<_1: string, _2: string>, _2: double]

In [89]:
trial7.show()

+--------------------+--------------------+
|                  _1|                  _2|
+--------------------+--------------------+
|   [seeing, 262.txt]|0.001503759398496...|
|        [F, 262.txt]|0.003007518796992...|
|    [after, 276.txt]|0.002197802197802198|
|       [up, 060.txt]| 0.00267379679144385|
|   [unless, 048.txt]|0.002392344497607...|
|    [later, 048.txt]|0.002392344497607...|
|  [average, 114.txt]|0.002949852507374...|
|     [has,, 100.txt]|0.004149377593360996|
|    [after, 470.txt]|0.006172839506172839|
| [Johnson,, 302.txt]|0.001358695652173913|
|     [that, 459.txt]|0.006134969325153374|
|    ["I've, 303.txt]|  0.0045662100456621|
|   [switch, 317.txt]| 0.00234192037470726|
|[understand, 317....| 0.00234192037470726|
|[capability, 115....|0.001897533206831...|
|   [never,, 049.txt]|0.002207505518763797|
|    [trial, 049.txt]|0.002207505518763797|
|    [men's, 075.txt]|0.008064516129032258|
|      [aim, 061.txt]|0.001531393568147...|
|  [against, 249.txt]|0.004310344827586207|
+--------------------+--------------------+
only showing top 20 rows

In [92]:
val trial8 = trial7.map(x => (x._1._1, x._1._2.toString.concat("( ").concat(x._2.toString).concat(" )")))

trial8: org.apache.spark.sql.Dataset[(String, String)] = [_1: string, _2: string]

In [93]:
trial8.show()

+----------+--------------------+
|        _1|                  _2|
+----------+--------------------+
|    seeing|262.txt( 0.001503...|
|         F|262.txt( 0.003007...|
|     after|276.txt( 0.002197...|
|        up|060.txt( 0.002673...|
|    unless|048.txt( 0.002392...|
|     later|048.txt( 0.002392...|
|   average|114.txt( 0.002949...|
|      has,|100.txt( 0.004149...|
|     after|470.txt( 0.006172...|
|  Johnson,|302.txt( 0.001358...|
|      that|459.txt( 0.006134...|
|     "I've|303.txt( 0.004566...|
|    switch|317.txt( 0.002341...|
|understand|317.txt( 0.002341...|
|capability|115.txt( 0.001897...|
|    never,|049.txt( 0.002207...|
|     trial|049.txt( 0.002207...|
|     men's|075.txt( 0.008064...|
|       aim|061.txt( 0.001531...|
|   against|249.txt( 0.004310...|
+----------+--------------------+
only showing top 20 rows

In [98]:
val trial9 = trial8.groupBy('_1).agg(concat_ws(" ", collect_list("_2") as "_2"))

trial9: org.apache.spark.sql.DataFrame = [_1: string, concat_ws( , collect_list(_2) AS `_2`): string]

In [99]:
trial9.show()

+-------------+--------------------------------------+
|           _1|concat_ws( , collect_list(_2) AS `_2`)|
+-------------+--------------------------------------+
|        still|                  086.txt( 0.005813...|
|      elevate|                  170.txt( 0.002012...|
|          few|                  302.txt( 0.001358...|
|         some|                  356.txt( 0.006920...|
|         hope|                  415.txt( 0.003134...|
|            K|                  202.txt( 0.002178...|
|        those|                  274.txt( 0.002680...|
|        cold,|                  072.txt( 0.001785...|
|   creativity|                  360.txt( 0.001615...|
|    involving|                  112.txt( 0.005128...|
|         July|                  307.txt( 0.002915...|
|      barrier|                  069.txt( 0.001261...|
|     Sunday,"|                  127.txt( 0.002257...|
|        cramp|                  098.txt( 0.005464...|
|       'turns|                  414.txt( 0.005524...|
|precautionary|                  245.txt( 0.005714...|
|    sidelined|                  304.txt( 0.003496...|
|  overlooked,|                  348.txt( 0.002272...|
|     Previous|                  197.txt( 0.006849...|
|      Antwerp|                  390.txt( 0.004132...|
+-------------+--------------------------------------+
only showing top 20 rows

In [100]:
trial9.take(1)

res31: Array[org.apache.spark.sql.Row] = Array([still,086.txt( 0.005813953488372093 ) 259.txt( 0.008264462809917356 ) 009.txt( 0.002631578947368421 ) 321.txt( 0.0022222222222222222 ) 155.txt( 0.0035087719298245615 ) 387.txt( 0.002074688796680498 ) 358.txt( 0.004629629629629629 ) 121.txt( 0.002717391304347826 ) 362.txt( 0.001984126984126984 ) 094.txt( 0.0091324200913242 ) 156.txt( 0.003703703703703704 ) 242.txt( 0.003913894324853229 ) 194.txt( 0.0022026431718061676 ) 435.txt( 0.0014858841010401188 ) 349.txt( 0.00398406374501992 ) 057.txt( 0.003911342894393742 ) 318.txt( 0.0028653295128939827 ) 161.txt( 0.0049504950495049506 ) 205.txt( 0.00199203187250996 ) 091.txt( 0.0034129692832764505 ) 270.txt( 0.0026246719160104987 ) 249.txt( 0.0021551724137931034 ) 104.txt( 0.0016501650165016502 ) 2...